@charset="UTF-8";

.no-margin{
	margin: 0px;
}

.no-padding{
	padding: 0px;
}

/* tela maior ou igual a 1400 pixels */

@media (min-width: 1400px){
	.site-footer{
		background-color: #222222;
		color: #9D9D9D;
		margin-top: 183px;
		padding-top: 10px;
		width: 100%;
		height: 45px;
	}
}

/* tela menor ou igual a 1400 pixels */

@media (max-width: 1400px){
	.site-footer{
		background-color: #222222;
		color: #9D9D9D;
		margin-top: 10px;
		padding-top: 10px;
		width: 100%;
	}
}

div.row{
	text-align: center;
}

div#carrossel{
	margin-top: 10px;
}

div#noticias{
	margin-top: 10px;
}
