@CHARSET "UTF-8";

/* remove a barra de rolagem horizontal do conteúdo dentro do 'body',  se este conteúdo transbordar  a área do body  */

body{
	overflow-x: hidden;
}

#container{
	padding-left: 0;
}

.topbar{
	background: #000;
	margin-left: -13px;  
}

.conteudo_topbar{
	width: 100%;
}

h3, h5{
	font-weight: bold;
	color: #999;
}

/* z-index: um elemento com ordem de pilha maior sobrepõe outro com ordem de pilha inferior ; */

div#conteudo-barra_lateral{
	z-index: 1000;
	width: 250px;
	height: 100%;
	position: fixed;
	left: 250px;
	margin-left: -250px;
	//background: #F5F5F5;
	background: #F3F3F3;
	transition: all 0.5s ease;  /* duração da velocidade da transição ao passar o mouse */
}

header.navbar{
	//background: #dcdcdc;
	background: #000;
}

ul{
	font-weight: bold;
}

div.row nav li{
	display: inline;
	margin-top: 5px;
	padding-left: 3%;
}

nav ul li a{
	margin-top: 5px;
}

/* sub-menu */

ul.dropdown-menu li a{
	color: #696969;
	font-weight: bold;
}

/* barra lateral */

.sidebar-nav{
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
	width: 250px;
	list-style: none;
}

/* menus da barra lateral */

.sidebar-nav li{
	text-indent: 20px;
	margin-top: 10px;
	line-height: 40px;
}

/* links da barra lateral */

.sidebar-nav li a{
	text-decoration: none;
	//color: #a9a9a9;
	color: #000;
	display: block;
}

/* mudança de cor nos links da barra lateral ao passar o mouse */

.sidebar-nav li a:hover{
	background: rgba(255, 255, 255, 0.2);
	color: #000;
}

/* link: 'Faculdade FCA' na barra lateral */

.sidebar-nav .sidebar-brand{			
	font-size: 15px;
}

/* mudança no link 'Faculdade FCA'. Ao passar o mouse, o link não será sublinhado */

.sidebar-nav .sidebar-brand a:hover{
	background: none;			
}

li.dropdown ul.dropdown-menu li a{
	margin: 0px;
	padding: 0px;
}

/* mudança de cor ao passar o mouse nos sub=menus */

ul.dropdown-menu li a:hover{
	color: #000;
	background: #F5F5F5;
}

div#conteudo_principal{
	width: 100%;
	position: absolute;
	padding: 15px;
}

div.container-fluid{
	margin-left: 250px;
	margin-top: -5px;
	position: fixed;
}

div.container-fluid > .row > .col-sm-4 {
	margin: 90px auto; 
	text-align: center;
	left: 2%;	
}

div.container-fluid > .row > .col-md-12 {
	margin: 100px auto; 
	//text-align: center;
	//left: 0%;	
}

.container h3, h5{
	margin-left: 8px;
}

h4{
	color: #A52A2A;
}




