@charset="UTF-8";

body{
	overflow-x: hidden;
}

.container#barraTopo{
	margin-bottom: 50px;
}

/* container do formulário */

div.formulario{
	border: 1px solid #DDD;
	margin: 0 auto;
	width: 800px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
	background: url('../img/secretaria-icone-2.png') no-repeat 100% 97%;
}

/* CONTEÚDO do formulário */

form{
	margin: 30px auto;
}

/* campos (inputs) do formulário */

form .form-control{
	height: 35px;
	border-radius: 0px;
}

/* link presente na barra: 'FCA - Cadastro...' */

li a.navbar-brand{
	text-decoration: none;
	color: #999;
	font-weight: bold;
	font-size: 16px;
}

/* Ao passar o mouse os links ficarão brancos */

li a:hover{
	color: #fff;
}

h5{
	margin: 10px 30px;
	font-weight: bold;
}

h4{
	margin-left: 30px;
	font-weight: bold;
}

button.btn{
	width: 110px;
	padding: 4px;
	background: #0075CF;
}

button#btn-matricula{
	margin-left: 4px;
}

button#btn-cancela{
	margin-left: -5px;
}

div.container#barraTopo{
	width: 100%;
	background: #000;
	padding-bottom: 8px;
}

.container-fluid{
	position: relative;
	margin: 1%;
}

label{
	font-weight: bold;
}

/* cor de funco e largura da página */

#conteudoPagina{					
	background: #FFFFF0;			
	width: 100%;
}

#conteudoPagina label{
	text-decoration: none;
}

/* Afastamento lateral da esquerda p/ direita */

span#info_pessoal{
	margin-left: 110px;
}

span#info_profissionais{
	margin-left: 85px;
}

span#info_contato{
	margin-left: 95px;
}

span#info_logradouro{
	margin-left: 70px;
}

/* Rodapé */

/* tela maior ou igual a 1900 pixels */

@media screen and (min-width: 1900px){

	.footer{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 60px;
		background-color: #000;
	}
}

.footer{
	margin-top: 80px;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #000;
}

.footer > .container{
	padding-right: 15px;
	padding-left: 15px;
}

.container .text-muted{
	margin: 20px 0;
	text-align: center;
}