@charset="utf-8";

body{
	overflow-x: hidden;
}

#container{
	padding-left: 0;
}

.topbar{
	background: #F5F5F5;
	margin-left: -13px;
}

.conteudo_topbar{
	width: 100%;
}

h5{
	font-weight: bold;
	color: #A52A2A;
}

div#conteudo-barra_lateral{
	z-index: 1000;
	width: 250px;
	height: 100%;
	position: fixed;
	left: 250px;
	margin-left: -250px;
	background: #000;
	transition: all 0.5s ease;
}

header.navbar{
	background: #ddd;
}

ul{
	font-weight: bold;
}

div.row nav li{
	display: inline;
	margin-top: 5px;
	padding-left: 3%;
}

nav ul li a{
	color: #8C8C8C;
	margin-top: 5px;
}

ul.dropdown-menu li a{
	color: #696969;
	font-weight: bold;
}

.sidebar-nav{
	position: absolute;
	top: 0;
	padding: 0;
	margin: 0;
	width: 250px;
	list-style: none;
}

.sidebar-nav li{
	text-indent: 20px;
	padding-top: 10px;
	line-height: 40px;
}

.sidebar-nav li a{
	text-decoration: none;
	color: #999;
	display: block;
}

.sidebar-nav li a:hover{
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
}

.sidebar-nav .sidebar-brand{
	font-size: 15px;
}

.sidebar-nav .sidebar-brand a:hover{
	background: none;
}

li.dropdown ul.dropdown-menu li a{
	margin:0px;
	padding:0px;
}

ul.dropdown-menu li a:hover{
	color: #000;
	background: #F5F5F5;
}

div#conteudo_principal{
	width: 100%;
	position: absolute;
	padding: 12px;
	margin-top: 90px;
}

div.container-fluid{
	margin-left: 250px;
	margin-top: -5px;
	position: fixed;
}

.container h3, h5{
	margin-left: 8px;
}

h4{
	color: #A52A2A;
}


