@CHARSET "UTF-8";

/* Esconde a barra de rolagem horizontal */

body {
	overflow-x: hidden;
}

nav.navbar-inverse {
	height: 60px;
	background: #000;
}

nav.navbar{
	border-radius: 0px;
}

a.navbar-brand, li{
	font-weight: bold;
	font-size: 15px;
	top: -5px;
	
}

ul.nav li a {
	font-weight: bold;
	margin: -45px 20px;
}

tr, th {
	text-align: center;
}

.container {
	width: 100%;
}